@font-face {
  font-family: 'fontHeadings';
  src: url('/fonts/ibm-plex-sans-condensed-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'fontHeadings';
  src: url('/fonts/ibm-plex-sans-condensed-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'fontTexts';
  src: url('/fonts/ibm-plex-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'fontTexts';
  src: url('/fonts/ibm-plex-sans-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headings;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
